<div class="row">

	<div class="span3 offset7">
		<input type="text" placeholder="Filter list..." data-ng-model="filterText.description">
	</div>

</div>

<div class="row">

	<div class="span8 offset2">
	
		<table class="table table-stripped table-bordered table-hover">
		
			<thead>
				<tr>
					<th><a data-ng-click="sortOrder='instant'">Date</a></th>
					<th><a data-ng-click="sortOrder='description'">Description</a></th>
					<th><a data-ng-click="sortOrder='amount'">Amount</a></th>
				</tr>
			</thead>		
			
			<tbody>
				<tr class="transaction" data-id="{{ trans.id }}" data-ng-repeat="trans in transactions | orderBy:sortOrder | filter:filterText">
					<th>{{ trans.instant|date }}</th>
					<td><a data-ng-href="#/transactions/{{ trans.id }}">{{ trans.description }}</a></td>
					<td data-ng-class="{ 'amount': true, 'negative': trans.amount < 0 }">{{ trans.amount|amount }}</td>
				</tr>
			</tbody>
		
		</table>

	</div>

</div>
